services:
  - type: web
    name: titan-os-hub
    env: docker
    plan: free
    region: oregon
    envVars:
      - key: PORT
        value: 3001
      - key: NODE_ENV
        value: production
      - key: API_KEY
        sync: false
      - key: REDIS_URL
        value: rediss://default:WR4PsdBO788Qyav9olhP50pmO9rLt80e@redis-13106.c17.us-east-1-4.ec2.cloud.redislabs.com:13106
    healthCheckPath: /api/health
    dockerContext: .
    dockerfilePath: ./Dockerfile